<!DOCTYPE html>
<html>
<script language="Javascript" type="text/javascript">
    function refresh() {
            window.location.href = 'event_rep?';
    }
</script>

<head>
<meta charset="utf-8">
<title>Adiciona SubCategoria</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h3> Adicionar nova subcategoria </h3>

<form action="update_subcat" method="post">
<p>Super Categoria: <input type="text" name="nomeSuper"/></p>
<p>Nova SubCategoria: <input type="text" name="nomeSub"/></p>
<p><input type="submit" value="Submit" href="./categoria"></p>

</form>
</body>
</html>