<!DOCTYPE html>
<html>
<script language="Javascript" type="text/javascript">
    function refresh() {
            window.location.href = 'event_rep?';
    }
</script>

<head>
<meta charset="utf-8">
<title>Adiciona Retalhista</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h3> Adicionar novo retalhista</h3>
<form action="update_retalhista" method="post">
<p>Novo Retalhista: <input type="text" name="nome"/></p>
<p>TIN <input type="text" name="tin"/></p>
<p><input type="submit" value="Submit" href="./retalhista"></p>
</form>
</body>
</html>