<!DOCTYPE html>
<html>
<h3> Escolhe Super Categoria </h3>
<link rel="stylesheet" href="../static/css/style.css">
<form action="tree_cat" method="post">
        <label for="cars">Super-Categoria:</label>
        <select id="super_categoria" name="super_categoria">
            {%for record in cursor%}
          <option>{{record[0]}}</option>
          {%endfor%}
        </select>
        <input type="submit" value="Submit" href="./tree_cat">
      </form>
      
      </body>
      </html>
</html>